
*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #000;
}
.content.menu-open{
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out;
   }
.container.menu-open{
    opacity: 0.4;
    transition: opacity 0.5s ease-in-out;
   }
 /*   .counter,
   .menu.opened{
    opacity: 1;
    transition: opacity 0.5s ease-in;
 } */

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

/* "Smooch Sans", serif */
:root{
  --FONT-FAMILY : "Smooch Sans", sans-serif;
  --THEME-COLOR: #fff;
}
.head-container{
  display: flex;
}
.logo{
  width: 200px;
  height: 300px;
  transform: translateY(-110px);
  margin-left: 2.5rem;
  z-index: 2000;
}
.svg{
  width: 600px;
  position: absolute;
  top: -2rem;
  left: 25rem;
 
}
.counter{
  margin-left: 75rem;
  transform: translateY(-18.8rem);
}
ul{
  list-style: none;
  margin-top: 1rem;
  display: flex;
  margin-left: 7.5rem;
  gap: 1rem;
}
 nav a{
  text-decoration: none;
  color: var(--THEME-COLOR);
  transition: color 0.3s ease; 
  position: relative;
  cursor: pointer;
  font: bold 1.2rem var(--FONT-FAMILY);
  z-index: 1;
}
ol li{
  margin-left: 1rem;
  font: 400 1.2rem var(--FONT-FAMILY);
  text-decoration: none;
  color: var(--THEME-COLOR);
}
 nav a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 0.5px;
  background-color: #00d1ff;
  transition: width 0.3s ease;
}
 nav a:hover{
  color: #3d9db1;
}
 nav a:hover::after{
  width: 100%;
}
.product-page{
  margin-left: 8rem;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.nav{
  margin: 0.6rem 2.5rem;
  padding:15px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.menu-toggle{
  width: 25px;
  height: 15px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index:1;
  position: absolute;
  left: 50px;
  top:15px;
}
.menu-toggle span{
  width:100%;
  height: 1px;
  background: var(--THEME-COLOR);
  transition: all 0.35s ease-in-out;
}
.menu{
  position: fixed;
  top:0;
  right:-250rem;
  width: 250px;
  height: 100vh;
  background: black;
   transition: right 0.5s ease-in-out;
  display: flex;
  padding: 1rem;
  /* z-index: 1; */
  transition: 1.2s ease-in-out;
  border-left: 1px solid rgb(105, 104, 104);
    box-shadow: -5px 5px 0px 0px rgba(31, 30, 30, 0.5); /* Adjust values as needed */  
  align-items: center;
  padding-left: 20px;
}

.menu ul{
  list-style: none;
  display: flex;    
  position: relative;
  flex-direction: column;
  text-align: right;
}
.menu ul li {
  white-space: nowrap;
  cursor: pointer; 
   z-index: 1;
   text-align: center;
  border-bottom: 0.05px solid var(--THEME-COLOR);
  transform: translateX(-65px);
}
.menu ul li a {
  color: var(--THEME-COLOR);
  text-decoration: none;
  font: 23px var(--FONT-FAMILY);
}
.menu ul li a:hover{
  color: rgb(204, 176, 176);
}
.menu.active{
  right: 0;
}
.menu-toggle.open span:nth-child(1){
  transform: translateY(8px)
  rotate(45deg);
}
.menu-toggle.open span:nth-child(2){
  width: 0;
}
.menu-toggle.open span:nth-child(3){
  transform: translateY(-8px)
  rotate(-45deg);
}
.home-page p{
  color: var(--THEME-COLOR);
   text-align: center;
  font: 400 60px var(--FONT-FAMILY);
  transform: translateY(-150px);
  animation: fadeIN 3s ease-in 1;
}
.mantra,
.query{
    display: none;
    font-size: 1rem;
}
.home-page pre{
  color: var(--THEME-COLOR);
  text-align: center;
  font: 400 1.2rem var(--FONT-FAMILY);
  transform: translateY(-130px);
  animation: fadeIN 5s ease-in 1;
}
@keyframes fadeIN {
  from{
    opacity: 0;
   } 
   to{
    opacity: 1;
   }
}

.buttons {
    display: flex;
    place-content: center;
    gap: 1.2rem;
}

button{
  border: none;
  background-color: rgba(102, 101, 101, 0.5);
  padding: 1rem;
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: color 0.5s ease-in-out;
  z-index: 1;
}
.lottie{
     padding: 1rem ;
      margin-left: 26em;
}
button a{
  color: black;
  font: bold 20px var(--FONT-FAMILY);
  text-decoration: none;
}
button::before{
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--THEME-COLOR);
  transition: top 0.4s ease-in-out;
  z-index: -1;
}
button:hover::before{
  top: 0;
}
button:hover{
  color: black;
  border-color: var(--THEME-COLOR);
}
.menu-item{
     color: var(--THEME-COLOR);
     font: bold 1.8rem var(--FONT-FAMILY);
     transform: translateX(300px);
     cursor: pointer;
     position: relative;
     padding: 10px 20px;
     z-index: 1000;
     display: inline-block;
}
.dropdown{
  position: fixed;
  top: 100%;
  left: -16rem;
  width: 50vw;
  height: 30vh;
  background: var(--THEME-COLOR);
  border: 1px solid rgba(37, 37, 37, 0.9) ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  opacity: 0;
  z-index: 10000;
  visibility: hidden;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.4s ease-in-out,
  opacity 0.3s ease-in-out;
}
.dropdown a{
  color: #000;
}
.dropdown a:hover{
  text-decoration: underline;
}
.menu-item:hover .dropdown{
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
.model-head
{
  color: var(--THEME-COLOR);
  font: bold 2rem var(--FONT-FAMILY);
  text-align: center;
}
.closure{
  color: var(--THEME-COLOR);
  font: 500 20px var(--FONT-FAMILY);
 /*  margin-left: 33rem; */
}

.main-info{
  color: var(--THEME-COLOR);
  font: 500 20px var(--FONT-FAMILY);
  margin-right: 2rem;
}
.crew-reverse{
  flex-direction: row-reverse;
}
.link{
  display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-bottom: 1.5rem;
}
.image{
  position: relative;
  display: block;

}
.link-button{
   position: absolute;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
   width: 50%;
}
.rocket-image{
  display: flex;
}
.disclaimer{
  color: var(--THEME-COLOR);
  font: 500 20px var(--FONT-FAMILY);
}
.animate{
  margin-left: 33rem;
}
.cta,
.closure-info,
.query-intro,
.rocket-section,
.reverse-info,
.heavy-info,
.responsive-suit,
.link-info,
.conclusion-image,
.query-icons,
.about,
.about-head{
  display: none;
}

.name{
  position: absolute;
  text-align: center;
  top: 24.5rem;
  font: bold 20px var(--FONT-FAMILY);
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  color: var(--THEME-COLOR);
}
.crew{
  display: flex;
}
.crew-image{
   border-radius: 50%;
   margin-left: 2rem;
   transition: 0.6s ease-in-out;
}
.crew-info{
   border: 1px solid rgba(36, 35, 35, 0.5);
   padding: 1.5rem;
   border-radius: 5px;
}
.icons{
  display: flex;
  place-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  gap: 10rem;
  
}
.flags{
  margin-left: 33rem;
}
.crew-image:hover{

   transform: scale(1.1);
}
.flags:hover::after,
.crew-image:hover::after{
  transition: 0.5s ease-out;
}
footer{
  text-align: center;
}

