
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #000;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}
:root{
  --FONT-FAMILY :"Smooch Sans", serif;
  --THEME-COLOR: #fff;
}
.head-container{
  display: flex;
  position: sticky;
}
.logo{
  width: 200px;
  height: 300px;
  transform: translateY(-110px);
  margin-left: 2.5rem;
  z-index: 2000;
}
ul{
  list-style: none;
  margin-top: 1rem;
  display: flex;
  margin-left: 3.5rem;
  gap: 1rem;
}
 nav a{
  text-decoration: none;
  color: var(--THEME-COLOR);
  transition: color 0.3s ease; 
  position: relative;
  cursor: pointer;
  font: bold 1.2rem var(--FONT-FAMILY);
}
ol li{
  margin-left: 1rem;
  font: 400 1.2rem var(--FONT-FAMILY);
  text-decoration: none;
  color: var(--THEME-COLOR);
}
 nav a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 0.5px;
  background-color: #00d1ff;
  transition: width 0.3s ease;
}
 nav a:hover{
  color: #3d9db1;
}
 nav a:hover::after{
  width: 100%;
}
.product-page{
  margin-left: 8rem;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.nav{
  margin: 0.6rem 2.5rem;
  padding:15px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.menu-toggle{
  width: 25px;
  height: 15px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index:1000;
  position: absolute;
  left: 15px;
  top:15px;
}
.menu-toggle span{
  width:100%;
  height: 1px;
  background: var(--THEME-COLOR);
  transition: all 0.3s ease-in-out;
}
.menu{
  position: fixed;
  top:0;
  right:-250rem;
  width: 250px;
  height: 100vh;
  background: black;
   transition: right 0.5s ease-in-out;
  display: flex;
  padding: 1rem;
  align-items: center;
  padding-left: 20px;
}
.menu ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.menu ul li {
  margin: 15px 0;
  border-bottom: 0.1px solid var(--THEME-COLOR);
}
.menu ul li a {
  color: var(--THEME-COLOR);
  text-decoration: none;
  font: 18px var(--FONT-FAMILY);
}
.menu ul li a:hover{
  color: #29606b;
}
.menu.active{
  right: 0;
}
.menu-toggle.open span:nth-child(1){
  transform: translateY(8px)
  rotate(45deg);
}
.menu-toggle.open span:nth-child(2){
  width: 0;
}
.menu-toggle.open span:nth-child(3){
  transform: translateY(-8px)
  rotate(-45deg);
}
.home-page p{
  color: var(--THEME-COLOR);
   text-align: center;
  font: 400 60px var(--FONT-FAMILY);
  transform: translateY(-150px);
  animation: fadeIN 3s ease-in 1;
}
.mantra,
.query{
    display: none;
    font-size: 1rem;
}
.home-page pre{
  color: var(--THEME-COLOR);
  text-align: center;
  font: 400 1.2rem var(--FONT-FAMILY);
  transform: translateY(-130px);
  animation: fadeIN 5s ease-in 1;
}
@keyframes fadeIN {
  from{
    opacity: 0;
   } 
   to{
    opacity: 1;
   }
}
.buttons {
    display: flex;
    place-content: center;
    gap: 1.2rem;
}
button{
  border: none;
  background-color: rgba(102, 101, 101, 0.5);
  padding: 1rem;
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: color 0.5s ease-in-out;
  z-index: 1;
}
button a{
  color: black;
  font: bold 20px var(--FONT-FAMILY);
  text-decoration: none;
}
button::before{
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--THEME-COLOR);
  transition: top 0.4s ease-in-out;
  z-index: -1;
}
button:hover::before{
  top: 0;
}
button:hover{
  color: black;
  border-color: var(--THEME-COLOR);
}
.menu-item{
     color: var(--THEME-COLOR);
     font: bold 1.8rem var(--FONT-FAMILY);
     transform: translateX(300px);
     cursor: pointer;
     position: relative;
     padding: 10px 20px;
     z-index: 1000;
     display: inline-block;
}
.dropdown{
  position: fixed;
  top: 100%;
  left: -16rem;
  width: 50vw;
  height: 30vh;
  background: var(--THEME-COLOR);
  border: 1px solid rgba(37, 37, 37, 0.9) ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  opacity: 0;
  z-index: 10000;
  visibility: hidden;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.4s ease-in-out,
  opacity 0.3s ease-in-out;
}
.dropdown a{
  color: #000;
}
.dropdown a:hover{
  text-decoration: underline;
}
.menu-item:hover .dropdown{
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}
.model-head
{
  color: var(--THEME-COLOR);
  font: bold 2rem var(--FONT-FAMILY);
  text-align: center;
}
.closure{
  color: var(--THEME-COLOR);
  font: 500 20px var(--FONT-FAMILY);
}
.main-info{
  color: var(--THEME-COLOR);
  font: 500 20px var(--FONT-FAMILY);
  margin-right: 2rem;
}

.link{
  display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-bottom: 1.5rem;
}
.image{
  position: relative;
  display: block;

}
.link-button{
   position: absolute;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
   width: 50%;
}
.rocket-image{
  display: flex;
}
.cta,
.closure-info,
.query-intro,
.rocket-section,
.reverse-info,
.heavy-info,
.responsive-suit,
.link-info{
  display: none;
}

.name{
  position: absolute;
  text-align: center;
  top: 24.5rem;
  font: bold 20px var(--FONT-FAMILY);
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  color: var(--THEME-COLOR);
}
.crew{
  display: flex;
}
.crew-image{
   border-radius: 50%;
   margin-left: 2rem;
   transition: 0.6s ease-in-out;
}
.crew-info{
   border: 1px solid rgba(36, 35, 35, 0.5);
   padding: 1.5rem;
   border-radius: 5px;
}
.icons{
  display: flex;
  place-content: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  gap: 30px;
  
}
.flags{
  border-radius: 2px;
  transition: 0.6s ease-in-out;
}
.flags:hover,
.crew-image:hover{

   transform: scale(1.1);
}
.flags:hover::after,
.crew-image:hover::after{
  transition: 0.5s ease-out;
}

footer{
  text-align: center;
}



@media screen and (max-width:1024px) {
  :root{
    --TEXT-COLOR : gray;
  }
  body{
    max-width: 100vw;
    overflow-x: hidden;
  }
  .logo{
    width: 150px;
    margin-left: 45%;
  }
  .head-menu{
    display: none;
  }
  .nav{
      margin: 0.6rem 13rem;
      padding:15px;
  }
  .menu-toggle{
    width: 20px;
    height: 10px;
    margin-top: 0.7rem;
  }
  .home-page p{
    font: 400 1.7rem var(--FONT-FAMILY);
     text-align: center;
  }
  .home-page pre{
   display: none;
  }
  .mantra{
    display: block;
    font-size: 1rem;

  }
  .menu{
   background: rgba(61, 57, 184, 0.589);
   font-weight: 900;
   text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  }

  button a{
    font-size: 1rem;
    color: var(--THEME-COLOR);
    font-weight: 400;
  }
  button{
    width: 40%;
    background-color: rgba(83, 81, 81, 0.979);
  }
  button:hover::before{
    display: none;
  }
   .rta{
    display: none;
   }
   .cta{
   
    display: block;
    font-size: 2rem;
    text-align: center;
   }
   .closure-info{
    display: block;
    font-size: 1.5rem;
    margin-left:2rem;
   }
   .closure img{
    margin-left: 0.5rem;
   }
   .disclaimer{
    display: none;
   }
   .icons{
    margin-right: 1rem;
   }
   footer p{
      font-size: 1rem;
   }
}
@media screen and (max-width: 768px) {
  :root{
    --TEXT-COLOR : gray;
    --QUERY-FONT : 1rem;
  }
  html{
    max-width: 100vw;
    overflow-x: hidden;
  }

  .logo{
    width: 150px;
    margin-left: 7rem;
  }
  .head-menu{
    display: none;
  }
  .nav{
      margin: 0.6rem 0.8rem;
      padding:15px;
  }
  .menu-toggle{
    width: 20px;
    height: 10px;
    margin-top: 0.7rem;
  }
  .home-page p{
    font: 400 1.7rem var(--FONT-FAMILY);
    text-align: left;
    margin-left: 1.5rem;
  }
  .home-page pre{
   display: none;
  }
  .mantra{
    display: block;
    font-size: var(--QUERY-FONT);

  }
  .menu{
   background: rgba(61, 57, 184, 0.589);
   
   font-weight: 900;
   text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  }

  button a{
    font-size: var(--QUERY-FONT);
    color: var(--THEME-COLOR);
    font-weight: 400;
  }
  .buttons{
    margin-right: rem;
 
  }
  button{
    width: 40%;
    background-color: rgba(83, 81, 81, 0.979);
  }
  button:hover::before{
    display: none;
  }
   .rta{
    display: none;
   }
   .cta{
   
    display: block;
    font-size: var(--QUERY-FONT);
    margin-left: 2.5rem;
   }
   .closure-info{
    display: block;
    font-size: var(--QUERY-FONT);
    margin-left: 1.15rem;
   }
/*     New items */
   .query{
      display: block;
     transform: translateX(-145px);
     color: var(--THEME-COLOR);
     white-space: nowrap;
   
   }
   .rocket-section{
    display: block;
    margin-left: 7.2rem;  
    transform: translateY(-200px);
    color: var(--THEME-COLOR);
   }
   .model-head,
   .text,
   .suit-image,
   .info{
      display: none;
   }
   .query-intro{
    display: block;
    line-height: 1.6;
    transform: translateY(-200px);
    font-size:var(--QUERY-FONT);
    margin-left: 2rem;
    margin-top: 0.5em;
   }
   .rocket-image,
   .link{
    flex-direction: column;
   }
   .reverse-section{
    flex-direction: row-reverse;
   }
   .reverse-image{
     left: -2.4em;
   }
   .heavy-image{
    left: -4.8rem;
   }
  .reverse-info{
  display: block;
   width: 100%;
   font-size: var(--QUERY-FONT);
   line-height: 1.6;
   margin-bottom: 15rem;
   transform: translateX(320px);
   white-space: nowrap;
  }
  .heavy-info{
    display: block;
    width: 100%;
    font-size:var(--QUERY-FONT);
    line-height: 1.6;
    margin-bottom: 10rem;
    transform: translateX(210px);
    white-space: nowrap;
  }
  .suit-info{
     margin-top: 7rem;

  }
  .link-info{
    display: block;
    margin-top: 5rem;
     white-space: nowrap;
  }
  .rocket-categories{
    transform: translateX(-210px);
  }
  .responsive-suit{
    display: block;
    transform: translateY(-200px);
    margin-left: 2rem;
  }
  
  .starlink{
    margin-bottom: 1rem;
    width: 300px;
    height: 300px;
    left: -5.4rem;
  }
   .image{
    transform: translateY(-200px);
    margin-left: 2rem;
    width: 300px;
    height: 300px;
   }
   .rocket-info{
    line-height: 1.6;
    transform: translateY(-286px);
    font-size: var(--QUERY-FONT);
    margin-left: 1rem;
   }
   .closure img{
    margin-right: 2rem;
   }
   .disclaimer,.menu-item{
    display: none;
   }
 
   .catlog-intro{
    display: none;
   }
   .icons{
    margin-right: 0.5rem;
   }
   footer p{
      font-size: var(--QUERY-FONT);
   }
/*    .menu-item{
    color: var(--THEME-COLOR);
    font: bold 1.8rem var(--FONT-FAMILY);
    transform: translateX(300px);
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    z-index: 1000;
    display: inline-block;
} */


} 
